<launch>
  <param name="/use_sim_time" value="false" />

  <node name="map_server" pkg="map_server" type="map_server" args="$(find osm_nav)/maps/blank.yaml" />
  
  <!-- move_base -->
  <include file="$(find osm_nav)/include/move_base.launch.xml" /> 

  <node name="fake_localization" pkg="fake_localization" type="fake_localization" >
    <rosparam file="$(find osm_nav)/params/fake_localization_params.yaml" command="load"/>
  </node>

  <!-- <node name="rviz" pkg="rviz" type="rviz" args="-d $(find osm_planner)/rviz/routes.rviz" required="true"/> -->
</launch>

